.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(163, 92, 196);
    padding: 10px 10px;
}

.home {
    font-family: Roboto, Arial;
    margin-left: 5px;
    color: white;
    font-size: 16px;
}

.search {
    flex: 1;
    margin: 0 50px;
    max-width: 500px;
    padding: 7px 10px;
    outline: none;
    border: 1px solid white;
    background-color: white;
    font-size: 16px;
    border-radius: 50vh;
}

.download {
    font-family: Roboto, Arial;
    margin-right: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 3px;
}