div, p{
    margin: 0;
    font-family: Roboto, Arial;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: fit-content;
    padding: 10px;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.email-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-photo {
    height: 50px;
    border-radius: 50vh;
    margin-right: 10px;
}

.email-content {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
}